body {
    overflow-x: hidden;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #292d32;
}

// -------------------------------------------------------------------------------------------//
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.main {
    flex: 1 0 auto;
}
.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    background: rgba(63, 63, 63, 0.50);


    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

// -------------------------------------------------------------------------------------------//
.title {
    font-size: 50px;      line-height: normal;
    &--white {
        color: #fff;
    }

    @include _1100 {
        font-size: 40px;
    }
    @include _800 {
        font-size: 30px;
    }
}

.subtitle {
    color: #838383;
    line-height: 150%;
    font-size: 18px;
    &--white {
        color: #fff;
    }

    @include _1100 {
        font-size: 15px;
    }
}

.btn {
    padding-left: 67px;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 30px; /* 187.5% */
    font-size: 16px;
    @include _600 {
        padding-left: 60px;
    }
    &::before {
        position: absolute;
        content: '→';
        font-size: 18.743px;
        font-style: normal;
        font-weight: 700;
        line-height: 35.143px;
        font-family: 'Circe';
        color: var(--Unnamed-Color, #fff);
        width: 55px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: #48a4eb;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        @include _600 {
            width: 45px;
        }
    }

    &--right {
        padding-right: 67px;
        padding-left: 0;
        &::before {
            left: 100%;
            transform: translateX(-100%);
        }
    }
    &--white {
        color: #fff;
    }

    
    @include _1100 {
        font-size: 15px;
    }
}
