@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: local('Roboto Black'), local('Roboto-Black'), url('./../fonts/Roboto-Black.woff2') format('woff2'),
        url('./../fonts/Roboto-Black.woff') format('woff'), url('./../fonts/Roboto-Black.eot') format('eot');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('./../fonts/Roboto-Bold.woff2') format('woff2'),
        url('./../fonts/Roboto-Bold.woff') format('woff'), url('./../fonts/Roboto-Bold.eot') format('eot');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto Regular'), local('Roboto-Regular'), url('./../fonts/Roboto-Regular.woff2') format('woff2'),
        url('./../fonts/Roboto-Regular.woff') format('woff'), url('./../fonts/Roboto-Regular.eot') format('eot');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: local('Roboto Light'), local('Roboto-Light'), url('./../fonts/Roboto-Light.woff2') format('woff2'),
        url('./../fonts/Roboto-Light.woff') format('woff'), url('./../fonts/Roboto-Light.eot') format('eot');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: local('Roboto Thin'), local('Roboto-Thin'), url('./../fonts/Roboto-Thin.woff2') format('woff2'),
        url('./../fonts/Roboto-Thin.woff') format('woff'), url('./../fonts/Roboto-Thin.eot') format('eot');
    font-display: swap;
}
@font-face {
    font-family: 'EuclidCircularA';
    font-weight: 700;
    font-style: normal;
    src: local('EuclidCircularA Bold'), local('EuclidCircularA-Bold'), url('./../fonts/EuclidCircularA-Bold.woff2') format('woff2'),
        url('./../fonts/EuclidCircularA-Bold.woff') format('woff'), url('./../fonts/EuclidCircularA-Bold.eot') format('eot');
    font-display: swap;
}
@font-face {
    font-family: 'EuclidCircularA';
    font-weight: 300;
    font-style: normal;
    src: local('EuclidCircularA Light'), local('EuclidCircularA-Light'), url('./../fonts/EuclidCircularA-Light.woff2') format('woff2'),
        url('./../fonts/EuclidCircularA-Light.woff') format('woff'), url('./../fonts/EuclidCircularA-Light.eot') format('eot');
    font-display: swap;
}
@font-face {
    font-family: 'EuclidCircularA';
    font-weight: 600;
    font-style: normal;
    src: local('EuclidCircularA SemiBold'), local('EuclidCircularA-SemiBold'), url('./../fonts/EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('./../fonts/EuclidCircularA-SemiBold.woff') format('woff'), url('./../fonts/EuclidCircularA-SemiBold.eot') format('eot');
    font-display: swap;
}
@font-face {
    font-family: 'RubikOne';
    font-weight: 400;
    font-style: normal;
    src: local('RubikOne Regular'), local('RubikOne-Regular'), url('./../fonts/RubikOne-Regular.woff2') format('woff2'),
        url('./../fonts/RubikOne-Regular.woff') format('woff'), url('./../fonts/RubikOne-Regular.eot') format('eot');
    font-display: swap;
}
@font-face {
    font-family: 'Circe';
    font-weight: 700;
    font-style: normal;
    src: local('Circe Bold'), local('Circe-Bold'), url('./../fonts/Circe-Bold.woff2') format('woff2'),
        url('./../fonts/Circe-Bold.woff') format('woff'), url('./../fonts/Circe-Bold.eot') format('eot');
    font-display: swap;
}

